In [ ]:
#Name- Sara Potey
#PRN-25070123102
#Experiment-8
#Aim- Study of For loop in python.

In [ ]:
#Syntax:
for variable in sequenece:
  statement(s)

In [ ]:
#8.1 To print numbers from 1 to 5
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#8.2 Sum of first N numbers:
n = int(input("Enter a number: "))
total = 0
for i in range(1,n+1):
  total += i
print("sum=",total)

Enter a number: 10
sum= 55

In [ ]:
#8.3 3x3 matrix display:
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]
for i in range(3): #here i indicates rows, [or range(0,3)]
  for j in range(3): #here j indicates columns, [or range(0,3)]
    print(A[i][j],end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#8.4 Multiplication of two 3x3 matrices:
A = [[1,2,3],
    [4,5,6],
    [7,8,9]]
B = [[1,1,1],
     [6,5,4],
     [3,2,1]]
Result= [[0,0,0],
         [0,0,0],
         [0,0,0]]
for i in range(3): #here i indicates rows, [or range(0,3)]
  for j in range(3): #here j indicates columns, [or range(0,3)]
    for k in range(3):
      Result[i][j] += A[i][k] * B[k][j]
for row in Result:
    print(row)

[22, 17, 12]
[52, 41, 30]
[82, 65, 48]

In [ ]:
#8.5 Print all Prime numbers in range:
for num in range(2,50):
  for i in range(2,num):
    if num % i == 0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#8.6 Making a shape with *:
for i in range (5,0,-1):
  print("*"*i)

*****
****
***
**
*

In [ ]:
#8.7 Making Pyramidal shape using *:
rows = 5
for i in range (1, rows + 1):
  print(" "*(rows-i) + "* "*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [1]:
#range(start,stop,increment)
for odd in range(1,11,2):
  print(odd)

1
3
5
7
9